.swagger-section #header {
    background-color: #05641a;
}

.swagger-section #explore,
.swagger-section #api_selector .authorize__btn {
    color: #060606;
    background-color: #828aa8;
}

#input_baseUrl,
.swagger-section #explore {
    display: none;
}